body, ul, ol, li, dl, dd, p, h1, h2, h3, h4, h5, h6, form, fieldset{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

*{
    word-wrap: break-word;
}

body{
    font: 14px/1.5 Tahoma, 'Microsoft Yahei', 'Simsun';
    color: #444444;
}

.wrap{
    width: 1050px;
    margin-left: auto;
    margin-right: auto;
}