.form span {
	text-align: right;
	float: left;
	width: 300px;
	padding-right: 20px;
}

.form p {
	float: left;
}

.small-avatar {
	height: 40px;
	width: 40px;
}

.star {
	height: 30px;
	width: 30px;
}

.border-blue {
	border: 1px solid #4ea2bc;
}

select {
border-radius: 5px;
border-color: #EEE;
border-style: inset;
border-width: 2px;
height: 29px;
width: 180px;
margin: 3px 0 3px;
padding-left: 10px
}