<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link type="text/css" rel="stylesheet" href="../css/base.css" />
        <link type="text/css" rel="stylesheet" href="../css/page.css" />
        <script src="../script/jquery-1.7.2.min.js"></script>
        <script src="../script/ajax-kit.js"></script>
        <script src="../script/create_account.js"></script>
        <title>创建账户 -- Omar Hub</title>
    </head>
    <body>
        <div class="wrap">
            <p>Welcome</p>
            <p>logo</p>
        </div>
        <div>
            <div>navi</div>
        </div>
        
        
        <div class="wrap">
            <p>用户邮箱: <input type="text" id="email" /></p>
            <p>用户姓氏: <input type="text" id="lastname" /></p>
            <p>用户名字: <input type="text" id="firstname" /></p>
            <p>用户角色: <input type="radio" name="role" value="admin" id="admin"><label for="admin">Admin</label> <input type="radio" name="role" value="fellow" id="fellow" checked="checked"><label for="fellow">Fellow</label></p>
            <p><input type="submit" value="创建" id="create" /> <span id="msgbox"></span></p>
        </div>
        
    </body>
</html>
