<html>
    <head>
        <link style="text/css" href="../css/base.css" rel="stylesheet"/>
		<link style="text/css" href="../css/login.css" rel="stylesheet"/>
    </head>
    <body>
    <div class="wrap mt20 clear">
        <div id="welcome" class="fr font18">
	    <span class="arial light-red">Welcome </span>
	    <span class="arial indigo b">to</span>
	    <span class="arial carmine b">omar!</span>
	</div>
	    <img src="../image/omarhub-logo.png" width="96" class="mb-15"/>
	    <span id="omar" class="georgia"><b>Omar</b></span>
	    <span id="hub" class="georgia"><b>Hub</b></span>
    </div>
    <div class="bg-blue mt20">
        <div class="mt wrap">
	    <h2 class="font24 white pl20">USER LOGIN</h2>
	    <b></b>
	</div>
   </div>
    
    <div class="wrap" id="entry">
	<div class="mc">
	        <div class="fl form">
		    <table>
		        <tr>
			    <td class="td1 font18 arial b">username:</td>
			    <td class="td2"><input type="text" class="text"></td>
			    <td></td>
			</tr>
			<tr>
			    <td class="td1 font18 arial b">password:</td>
			    <td class="td2"><input type="password" class="text"></td>
			    <td class="td3 underline font14 blue"><a>forget password?</a></td>
			</tr>
		    </table>
		    <input type="submit" value="login" class="login r14 font24 arial b">
		</div>
	    
	        <div class="fl guide">
		    <h3 class="arial font24">first use?</h3>
		    <p class="verdana font18">do eiusmod tempor incididunt.</p>
		    
		    <span class="mail-span mt20 font18 arial b">input e-mail:</span><input type="text" class="text mt20">
		    <input type="submit" value="first" class="first-button r14 arial font24 b">
		</div>
		<div class="clear"></div>
	</div>
    </div>
</body>
</html>